:root {
    --color-icon-series: rgb(112,244,245);
    --color-marvel-series: rgb(240,45,54);
    --color-dc-series: rgb(0,140,243);
    --color-gaming-legends: rgb(146,138,225);
    --color-shadow-series: rgb(255,255,255);
    --color-star-wars-series: rgb(255,223,0);
    --color-slurp-series: rgb(46,250,248);
    --color-legendary: rgb(252,150,65);
    --color-epic: rgb(239,57,255);
    --color-rare: rgb(0,255,252);
    --color-uncommon: rgb(175,254,0);
    --color-common: rgb(195,202,207);
}