.offer {
    background-image:var( --offerURL );
    --ZoomsAdded:calc(var(--Zoom1) + var(--Zoom2));
    --ZoomsDivided:calc(var(--ZoomsAdded) / 200);
    --ZoomPercent:calc(var(--ZoomsDivided) + 1);
    background-size: calc(var(--ZoomPercent) * var(--height));
    background-origin: 50% 50%;
    background-position-x: calc(50% + calc(calc(var(--xoffset) * var(--width)) / 100));
    background-position-y: calc(calc(calc(var(--yoffset) + var(--yoffsetcom)) * var(--width)) / 200);
}
.item:hover .offer {
  background-image:var( --offerURL );
  --ZoomsAdded:calc(var(--Zoom1) + var(--Zoom2));
  --ZoomsDivided:calc(var(--ZoomsAdded) / 200);
  --ZoomPercent:calc(var(--ZoomsDivided) + 1.05);
  background-size: calc(var(--ZoomPercent) * var(--height));
  background-position-x: calc(50% + calc(calc(var(--xoffset) * var(--width)) / 100));
  background-position-y: calc(calc(calc(var(--yoffset) + var(--yoffsetcom)) * var(--width)) / 200);
}
html {
  background-color: rgb(22,141,229);
}
.item.DoubleWide {
    width:665px;
    height: 550px;
    margin-right: 25px;
}
.item.Normal {
    width:320px;
    height: 550px;
    margin-right: 25px;
}
.item.Small {
    width:320px;
    height: 262px;
    margin-right: 25px;
}
.section {
    height:550px;
    overflow-x:visible;
    white-space: nowrap;
    margin-bottom: 100px;
}
.cost img {
    max-height: 100%;
    right: 0px;
    transform:scale(1.5) rotate(11deg) translate(-12px, -40px);
}
.item div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top:0px;
    position:absolute;
  }


.SpecialEffects1, .SpecialEffects2, .SpecialEffects3, .SpecialEffects4, .SpecialEffects5, .SpecialEffects6, .falloff {
  background: transparent;
  display: none;
}

.item .gradient {
    background-image:radial-gradient(circle calc(calc(var(--gradient-size) * var(--max-size)) / 100) at calc(var(--gradient-x) * 1%) calc(var(--gradient-y) * 1%), var(--gradient-color-in),var(--gradient-color-out));
}
.item:hover .gradient {
  background-image:radial-gradient(circle calc(calc(var(--gradient-size) * var(--max-size)) / 75) at calc(var(--gradient-x) * 1%) calc(var(--gradient-y) * 1%), var(--gradient-color-in),var(--gradient-color-out));
}
.item .gradient.bright {
  filter:brightness(calc(calc(var(--spotlight-strength) / 100) + 0));
  mask-image: radial-gradient(circle calc(calc(var(--spotlight-size) * var(--min-size)) / 100) at calc(var(--spotlight-x) * 1%) calc(var(--spotlight-y) * 1%),black,rgba(0,0,0,0.5) calc(var(--spotlight-hardness) * 2%),transparent);
  -webkit-mask-image: radial-gradient(circle calc(calc(var(--spotlight-size) * var(--min-size)) / 100) at calc(var(--spotlight-x) * 1%) calc(var(--spotlight-y) * 1%),black,rgba(0,0,0,0.5) calc(var(--spotlight-hardness) * 0.1%),transparent);
}
.item.off {
  visibility: hidden;
}
.item {
    overflow: hidden;
    /*background-color: red;*/
    top:0px;
    left:0px;
    z-index: 100;
    text-overflow: clip;
    background-repeat: no-repeat;
   /* background-size: cover !important;  */
    /*background-position-x: center;*/
    /*background-position-y: center;*/
    position: absolute;
  }
  .item * {
    transition: all 0.1s;
  }
.item:hover .nameSegment {
  background-color: rgb(250,250,250);
  height:74px;
}
.item:hover .nameSegment:before {
  -webkit-transform: skew(0deg, -1.4320961841646deg);
  -ms-transform: skew(0deg, -1.4320961841646deg);
  transform: skew(0deg, -1.4320961841646deg);
}
.item:hover .nameSegment:before {
  -webkit-transform: skew(0deg, -0.68923928725321deg);
  -ms-transform: skew(0deg, -0.68923928725321deg);
  transform: skew(0deg, -0.68923928725321deg);
}

.item:hover .cost {
  background-color: rgb(199,255,247);
}
.item:hover .rarity {
  filter:brightness(1.2);
  height:81px;
}
.item .rarity {
    width:100%;
    height:72px;
    background-color: aqua;
    bottom: 0px;
    top:auto;
    position: absolute;
  }
.item .nameSegment {
    width:100%;
    height:68px;
    background-color: rgb(47,47,47);
    bottom: 0px;
    top:auto;
    position: absolute;
  }
.item.DoubleWide .rarity:before {
    -webkit-transform: skew(0deg, -0.8615deg);
    -ms-transform: skew(0deg, -0.8615deg);
    transform: skew(0deg, -0.8615deg);
  }
  .item.DoubleWide .nameSegment:before {
    -webkit-transform: skew(0deg, -0.51694deg);
    -ms-transform: skew(0deg, -0.51694deg);
    transform: skew(0deg, -0.51694deg);
  }
.banner {
  width: fit-content;
  margin: 0px;
  padding: 1px !important;
  font-weight: bolder;
  font-family: Roboto;
  position: absolute;
  z-index: 100;
  transform: translate(-20px,-20px);
  background-color: rgb(215,0,112);
  border: rgb(255,63,138) 4px solid;
  padding: 10px;
}
.banner.High {
  background-color: rgb(255,255,0);
  border-color: white;
}
.nameSegment:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(47,47,47);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: skew(0deg, -1.07deg);
    -ms-transform: skew(0deg, -1.07deg);
    transform: skew(0deg, -1.07deg);
    z-index: 2;
    background-color: inherit;
  }
  .rarity:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: skew(0deg, -1.79deg);
    -ms-transform: skew(0deg, -1.79deg);
    transform: skew(0deg, -1.79deg);
    z-index: 1;
    background-color: inherit;
  }

.item .nameSegment p {
    color:white;
    z-index: 4;
    position: absolute;
    text-align: center;
    width:100%;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: bolder;
    transform: translateY(-10px);
  }
  .item:hover .nameSegment p {
    color:black;
  }
.item .cost {
    width:100%;
    height:25px;
    background-color: rgb(29,29,29);
    bottom: 0px;
    top:auto;
    position: absolute;
    z-index: 3;
  }
  .cost p {
    color:white;
    text-align: right;
    font-family: Roboto;
    transform: translate(-40px,-20px);
    font-weight: bolder;
  }
 .item:hover .cost p {
    color:black;
  }