.lockerItems {
    margin-top: 200px;
    white-space: normal !important;
}
.lockerItem {
    width: 124px;
    height: 156px;
    overflow: hidden;
    display: inline-block;
    margin: 8px;
    position: relative;
}
.lockerItem.small {
    width: 88px;
    height: 110px;
}
.lockerItem.mainscreen {
    margin: 4px;
    margin-bottom: 0px;
}
.lockerItem *{
    position: absolute;
}
.lockerItem.small .lockerpic {
    background-size: 110px;
}
.lockerItem.doIcon .background{
    background: rgb(16, 104, 119);
}
.lockerItem:hover {
    border: rgb(255,245,0) solid 4px;
    margin: 4px;
}
.lockerItem.mainscreen:hover {
    margin: 0px;
    margin-bottom: -4px;
}
button {
    width:300px;
    border-radius: 3px;
    border:transparent;
    height: 36px;
    margin-top: 5px;
    background-color: lightgreen;
    opacity: 0.8;
}
.lockerItems > div{
    display: inline;
}
.lockerItem .lockerpic {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-image: var(--image);
    background-size: 156px;
    background-position: center;
    transition: 0.2s;
}
.lockerItem:hover .lockerpic {
    background-size: 172px;
}
.lockerItem.small:hover .lockerpic {
    background-size:121px;
}
.lockerItem .SpecialEffects4 {
    position: relative;
}
.lockerpage {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(6,74,157);
    top: 0px;
    position: absolute;
    height:fit-content;
}
.raritylocker {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 101;
}
.raritylocker.bottom {
    opacity: 0.7;
}
.background {
    width: 100%;
    height: 100%;
}
.small .raritylocker.top {
  height: 4px;
  bottom: 7px;
}
.raritylocker.top {
    opacity: 1;
    bottom: 10px;
    transform: skewY(-4.61deg);
    height:6px;
    transition: 0.2s;
}
.lockerItem.small:hover .raritylocker.top {
    bottom: 3px;
}
.lockerItem:hover .raritylocker.top {
    bottom: 5px;
}
.raritylocker.top::before {
    opacity: 0;
}
.raritylocker {
    height:5px;
}
.raritylocker::before {
    transform: skewY(-4.61deg);
    height: 20px;
}
.lockerItem .background {
    background: rgb(32,105,199);
}